# Python cache files
__pycache__/
*.pyc

# Emerge simulation data and cache files
*.EMResults/
*pylines.txt
*simdata.emerge

# Kicad
kicad/diff-line-demo/~diff-line-demo.kicad_pcb.lck
kicad/diff-line-demo/diff-line-demo-backups/diff-line-demo-2026-*.zip

# Other common ignore patterns
*.log
*.tmp
*.swp
.DS_Store
